<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="header">
            <div class="header-inner">Meenu Mathew - N01582144</div>
        </div>
    </header> 
    <div class="page">
        {{{body}}}
    </div>
    <footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-left">
                <h3>Restaurant</h3>
                <p>About Us</p>
                <p>Contact Us</p>
            </div>
            
        </div>
    </div>
</footer>
  </body>
</html>