<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="header">
            <div class="header-inner">Meenu Mathew - N01582144</div>
        </div>
    </header> 
    <div class="page">
        {{{body}}}
    </div>
    <footer>
        <div class="footer">
            <div class="footer-inner">Email: N01582144@humber.ca</div>
        </div>
    </footer>
  </body>
</html>