<h1 class="head-rest">Welcome to restaurants data</h1>

<div class="form-design">
<form action="/api/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>
    <button type="submit" class="go_back_btn">Login</button>
    <p>Don't have an account? <a href="api/signup">Signup</a></p>
</form>
</div>