{{!-- /********************************************************************************** 
 * ITE5315 – Assignment 4* I declare that this assignment is my own work in accordance 
 * with Humber Academic Policy.* No part of this assignment has been copied manually or 
 * electronically from any other source* (including web sites) or distributed to other students.** 
 * Name: Meenu Mathew
 * Student ID: N01582144
 * Date: 06-04-2024
 * **********************************************************************************/ --}}
 
<h1 class="head-rest">Search Restaurants</h1>

<div class="form-design">
<form action="/api/list_all_restaurants" method="post">
    <label for="page">Page:</label>
    <input type="number" name="page" id="page" required><br>
    <label for="perPage">Per Page:</label>
    <input type="number" name="perPage" id="perPage" required><br>
    <label for="borough">Borough:</label>
    <input type="text" name="borough" id="borough"><br>
    <button type="submit" class="go_back_btn">Search</button>
</form>
</div>