{{!-- /********************************************************************************** 
 * ITE5315 – Assignment 4* I declare that this assignment is my own work in accordance 
 * with Humber Academic Policy.* No part of this assignment has been copied manually or 
 * electronically from any other source* (including web sites) or distributed to other students.** 
 * Name: Meenu Mathew
 * Student ID: N01582144
 * Date: 06-04-2024
 * **********************************************************************************/ --}}
 
<h1 class="head-rest">Sign Up</h1>

<div class="form-design">
<form action="/api/signup" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required><br>
    <label for="username">User Name/Email:</label>
    <input type="username" name="username" id="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password"><br>
    <button type="submit" class="go_back_btn">Submit</button>
</form>
</div>